<ul class="task-menu">
    <li>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" >
            <div class="inbox">
                <div class="inbox-icon">1</div>
                <div class="inbox-text">Inbox</div>
                <div class="inbox-number">{{todoCount}}</div>
            </div>
        </a>
    </li>
    <li>
        <a [routerLink]="['/body2']" routerLinkActive="router-link-active" >
            <div class="today">
                <div class="today-icon">2</div>
                <div class="today-text">Trash</div>
                <div class="today-number">{{deleteCount}}</div>
            </div>
        </a>
    </li>
</ul>

<div class="project">
    <div class="ti-angle-down"></div>
    <div class="project-text">
        <b>Project</b>
    </div>
    <div class="ti-plus"></div>
</div>
