<div class="content-menu">
    <div class="content-menu-header">
        <div class="simple_content">
            <h1>Trash</h1>
        </div>
        <!-- <div class="icon" >
            <button (click)="deleteAllTodoTrash()">Delete</button>
        </div> -->
    </div>
    <ul id="result">
        <li id="sua1" *ngFor="let task of tasks">
            <div class="check-radio">
            <!-- <div class="check-radio" (click)="onDelete(task.id)"> -->
                <input name="gender" value="" type="radio">
            </div>
            <div class="text">
                <p class="taskName">{{task.taskName}}</p>
                <small>{{task.description}}</small>
            </div>
            <div class="ti-slice"></div>
            <!-- <div class="ti-slice" (click)="onEdit(task)"></div> -->
        </li>
    </ul>
</div>


